In [12]:
import yfinance as yf

# get S&P 500
data = yf.download("^GSPC", period="10y")

data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-06-16,1934.839966,1941.150024,1930.910034,1937.780029,1937.780029,2926130000
2014-06-17,1937.150024,1943.689941,1933.550049,1941.989990,1941.989990,2971260000
2014-06-18,1942.729980,1957.739990,1939.290039,1956.979980,1956.979980,3065220000
2014-06-19,1957.500000,1959.869995,1952.260010,1959.479980,1959.479980,2952150000
2014-06-20,1960.449951,1963.910034,1959.170044,1962.869995,1962.869995,4336240000
...,...,...,...,...,...,...
2024-06-10,5341.220215,5365.790039,5331.520020,5360.790039,5360.790039,3622280000
2024-06-11,5353.000000,5375.950195,5327.250000,5375.319824,5375.319824,3568030000
2024-06-12,5409.129883,5447.250000,5409.129883,5421.029785,5421.029785,3962840000
2024-06-13,5441.930176,5441.930176,5402.509766,5433.740234,5433.740234,3530380000
2024-06-14,5424.080078,5432.390137,5403.750000,5431.600098,5431.600098,2243055000

In [13]:
# Strip Adj Close and Volume
data = data[["Open", "High", "Low", "Close"]]

# add indicators
data["5d"] = data["Close"].rolling(window=5).mean()
data["10d"] = data["Close"].rolling(window=10).mean()
data["20d"] = data["Close"].rolling(window=20).mean()

data.dropna(inplace=True)

data

/var/folders/4f/zhjjvgx16sl18qcqxczjhqhm0000gn/T/ipykernel_98949/2783298109.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["5d"] = data["Close"].rolling(window=5).mean()

,Open,High,Low,Close,5d,10d,20d
Date,,,,,,,
2014-07-14,1969.859985,1979.849976,1969.859985,1977.099976,1969.177979,1971.714978,1963.327484
2014-07-15,1977.359985,1982.520020,1965.339966,1973.280029,1971.091992,1973.019983,1965.102484
2014-07-16,1976.349976,1983.939941,1975.670044,1981.569946,1972.839990,1973.844983,1967.081482
2014-07-17,1979.750000,1981.800049,1955.589966,1958.119995,1971.527979,1972.194983,1967.138483
2014-07-18,1961.540039,1979.910034,1960.819946,1978.219971,1973.657983,1971.472986,1968.075482
...,...,...,...,...,...,...,...
2024-06-10,5341.220215,5365.790039,5331.520020,5360.790039,5341.221973,5307.548975,5298.060986
2024-06-11,5353.000000,5375.950195,5327.250000,5375.319824,5358.017969,5314.476953,5305.755981
2024-06-12,5409.129883,5447.250000,5409.129883,5421.029785,5371.417969,5329.884912,5314.473462
2024-06-13,5441.930176,5441.930176,5402.509766,5433.740234,5387.574023,5349.710938,5320.752979
2024-06-14,5424.080078,5432.390137,5403.750000,5431.600098,5404.495996,5365.119971,5327.477979

In [14]:
# normalise data
from sklearn.preprocessing import MinMaxScaler


scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(data)
# ideally this is pretty similar between runs of data collection, so it doesn't actually matter if we save it or not as long as the model is retrained regularly.

scaled_data.shape

(2499, 7)

In [18]:
# save scaler to file
import joblib

joblib.dump(scaler, "./scaler.save")

ImportError: cannot import name 'joblib' from 'sklearn.externals' (/Users/joeltan/dev/stock-prediction/.venv/lib/python3.11/site-packages/sklearn/externals/__init__.py)

In [15]:
import pandas as pd

In [16]:
# put scaled data back into df
data[["Open", "High", "Low", "Close", "5d", "10d", "20d"]] = scaled_data

data

,Open,High,Low,Close,5d,10d,20d
Date,,,,,,,
2014-07-14,0.037816,0.036900,0.044390,0.041064,0.033454,0.027488,0.022811
2014-07-15,0.039894,0.037642,0.043134,0.040004,0.033993,0.027862,0.023326
2014-07-16,0.039614,0.038036,0.046004,0.042304,0.034485,0.028098,0.023901
2014-07-17,0.040557,0.037442,0.040425,0.035798,0.034115,0.027625,0.023918
2014-07-18,0.035510,0.036917,0.041878,0.041374,0.034715,0.027419,0.024190
...,...,...,...,...,...,...,...
2024-06-10,0.972091,0.977374,0.978436,0.979762,0.982198,0.983501,0.991455
2024-06-11,0.975356,0.980196,0.977249,0.983793,0.986923,0.985486,0.993690
2024-06-12,0.990910,1.000000,1.000000,0.996474,0.990693,0.989902,0.996223
2024-06-13,1.000000,0.998522,0.998161,1.000000,0.995239,0.995584,0.998047
2024-06-14,0.995053,0.995873,0.998505,0.999406,1.000000,1.000000,1.000000

In [17]:
data.to_csv("./sp500.csv")