In [5]:
import pandas as pd

stock_list = pd.read_csv("stocks.tsv", sep="\t").sample(n=20, random_state=2024)

stocks = stock_list["STOCK"]

stocks

178    VAP
21     ARG
193    WPL
147    RRL
98     LLC
68     ELD
101    MCY
81     HLS
192    WOW
30     BIN
1      AAA
164    STO
37     BWP
161    SNZ
46     CHN
88     ILU
113    NAB
76     GMG
40     CBA
33     BOQ
Name: STOCK, dtype: object

In [6]:
import yfinance as yf

In [7]:
stock_data = yf.Ticker(stocks.iloc[0] + ".AX").history(period="1y")

stock_data[["Open", "Close", "Volume"]]

                                Open      Close  Volume
Date
2023-03-27 00:00:00+11:00  72.065968  72.575233   48108
2023-03-28 00:00:00+11:00  72.065978  72.757812   75465
2023-03-29 00:00:00+11:00  72.642508  72.075592   61745
2023-03-30 00:00:00+11:00  72.748192  72.402275   30470
2023-03-31 00:00:00+11:00  72.969198  72.402275   53099
...                              ...        ...     ...
2024-03-19 00:00:00+11:00  91.800003  92.559998   25038
2024-03-20 00:00:00+11:00  92.709999  92.589996   52736
2024-03-21 00:00:00+11:00  93.500000  93.699997   41281
2024-03-22 00:00:00+11:00  93.930000  95.040001   32777
2024-03-25 00:00:00+11:00  95.300003  96.500000   49934

[253 rows x 3 columns]

In [8]:
!rm tickers/*

for stock_ticker in stocks:
  stock_data = yf.Ticker(stock_ticker + ".AX").history(period="1y")[["Close", "Volume"]]
  stock_data.to_csv("tickers/" + stock_ticker + ".csv")

WPL.AX: No data found, symbol may be delisted
BIN.AX: No data found, symbol may be delisted